name: cluster-install
permissions:
  contents: read
on: workflow_dispatch
jobs:
  test:
    runs-on: ${{ matrix.runner }}
    name: ${{ matrix.script }}-${{ matrix.runner }}
    strategy:
      matrix:
        script:
         - k3s-cilium
         - k3s-calico
         - k3s-storage-secret
         - rke2
        runner: [ubuntu-24.04, ubuntu-24.04-arm]
    steps:
      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install --yes libssl-dev
      - name: Set up go
        uses: actions/setup-go@v5
        with:
          go-version: "${{env.GO_VERSION}}"
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Run
        run: |
          sudo chmod +x ./.github/scripts/cluster-install/${{ matrix.script }}.sh
          export OCTELIUM_AUTH_TOKEN_SAVE_PATH="/tmp/octelium-auth-token"
          sudo -E ./.github/scripts/cluster-install/${{ matrix.script }}.sh
          

          if [ "${{ matrix.script }}" == "rke2" ]; then
            sudo chmod 644 /etc/rancher/rke2/rke2.yaml
            export KUBECONFIG="/etc/rancher/rke2/rke2.yaml"
          else
            sudo chmod 644 /etc/rancher/k3s/k3s.yaml
            export KUBECONFIG="/etc/rancher/k3s/k3s.yaml"
          fi
          kubectl wait --for=condition=available deployment/svc-default-octelium-api --namespace octelium --timeout=600s
          kubectl wait --for=condition=available deployment/svc-auth-octelium-api --namespace octelium --timeout=600s
          kubectl wait --for=condition=available deployment/octelium-ingress-dataplane --namespace octelium --timeout=600s
          kubectl wait --for=condition=available deployment/octelium-ingress --namespace octelium --timeout=600s

          echo "kubectl wait cmds done"
          curl -k --fail --retry 10 --retry-delay 1 --max-time 2 https://localhost

          export OCTELIUM_INSECURE_TLS=true
          export OCTELIUM_DOMAIN=localhost
          sudo chmod 644 $OCTELIUM_AUTH_TOKEN_SAVE_PATH
          AUTH_TOKEN=$(cat $OCTELIUM_AUTH_TOKEN_SAVE_PATH)
          USER_NAME="$(id -un)"
          sudo chown -R "$USER_NAME":"$USER_NAME" /home/$USER_NAME
          octelium login --domain localhost --auth-token $AUTH_TOKEN
          octelium status

          octelium connect -p demo-nginx:9090 &
          sleep 3
          curl --fail --retry 10 --retry-delay 1 --max-time 2 http://localhost:9090